<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
body {
	background-image: url("https://mblogthumb-phinf.pstatic.net/20161008_248/sasa9508_1475929220263OMzsO_JPEG/2.jpg?type=w2")
}
.ben {
	text-align: center;
	color: black;
}

	</style>
<body>
	<h1 class="ben"> 개발자 모드가 감지 되었습니다. </h1>
	<h2 class="ben"> 개발자 모드가 감지되어 아이피 {{value}} 가 차단처리 되었습니다. </h2>
	<h2 class="ben"> 관리자에게 문의해주세요. </h2>
</body>
</html>